<!DOCTYPE html>
<html>

<head>

<title>Title of the document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function(){
   			 $('.star').on('click',function(){
   			 	console.log("this happened");
        		$(this).toggleClass('glyphicon-star-empty'); 
        		$(this).toggleClass('glyphicon-star');
    			});
		});
    </script> 


	<div class ="bg-image title">Private Kitchens in Hong Kong</div> 
	<div class ="container-fluid">
			<ul class= "nav nav-tabs">
				<li role = "presentation" class = "active">
						<a class = "navtitle" href ="dashboard.html">Browse</a> 
				</li>
				<li role = "presentation">
						<a  class ="navtitle" href ="itinerary.html">Saved Itinerary</a> 
				</li>
			</ul>

	</div> 
		
	<div id="wrapper">
	<div id="columns">
		

		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/magnolia.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Magnolia</div>
					<div class ="name">from Amy Leap</div>
					<div class ="status">17 Po Yan St, Sheung Wan</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/pomengranate.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Pomengranade</div>
					<div class ="name">from Kudzi Chikimbu</div>
					<div class ="status">4b, 44 Wong Chuk Hang Road, Aberdeen</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/fazujie.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Fazujie</div>
					<div class ="name">from Milena Montesinos</div>
					<div class ="status">Central 德己笠街20A號1樓</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/dineart.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Dine Art</div>
					<div class ="name">from Rijon Charne</div>
					<div class ="status">Kwai Bo Industrial Building, 40 Wong Chuk Hang Rd</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/ladolcevita.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">La Dolce Vita</div>
					<div class ="name">from Sarah Wang</div>
					<div class ="status">9-11 Lan Kwai Fong</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/tapantry.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">TA Pantry</div>
					<div class ="name">from Sally Zhang</div>
					<div class ="status">1 Electric St, Wan Chai</div>
				</div>
			</div>
		</div>	
		
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/cowdining.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">C.O.W. Dining</div>
					<div class ="name">from Mitali Pattnaik</div>
					<div class ="status">3 Upper Station St, Sheung Wan</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/saborspanish.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Sabor Spanish</div>
					<div class ="name">from Anais Berland</div>
					<div class ="status">上環永樂街1-3號世瑛大廈6樓601室</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/comilonas.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Comilonas</div>
					<div class ="name">from Raphael Wallace</div>
					<div class ="status">Lap Fai Building6-8 Pottinger Street‎</div>
				</div>
			</div>
		</div>
	
		<div class="pin">
			<div class="star glyphicon glyphicon-star-empty"></div>
			<img src="../Images/gongguan.jpg" />
			<div class ="container-fluid cardcontent">
				<div class = "description">
					<div class ="location">Gong Guan</div>
					<div class ="name">from David Tran</div>
					<div class ="status">279 Des Voeux Rd Central</div>
				</div>
			</div>
		</div>
	
|
	</div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
